---
permalink: /writeups/portswigger/
layout: page
title: Portswigger
tab_title: Portswigger
back_link: /writeups
back_link_title: b4ck t0 wr1t3up$
---

<!-- {% for item in site.data.portswigger.topics %}
    <h2>{{item.title}}</h2>
{% for lab in item.labs %}
    <div style="margin-left: 30px;"><a href='{{ lab.url }}'><span style=" color: rgb(181, 90, 255);">-></span> {{lab.name}}</a> <p style="display: inline;color: rgba(217, 0, 255, 0.292);text-shadow: 0 0 5px #d900ff52;">[{{lab.type}}]</p></div>
{% endfor %}
<hr class="delimiter-hr">
{% endfor %} -->
